<!-- Side navigation -->
<div class="sidenav">
  <br>
  <%= username %>
  ________________________
  <br>
  <a href='/supplier/details'>My Personal Details</a>
  <br>
  <a href='/supplier/orders'>View Orders</a>
</div>
