<!-- Side navigation -->
<div class="sidenav">
  <br>
  <%= username %>
  ________________________
  <br>
  <a href='/patient/details'>My Personal Details</a>
  <br>
  <a href='/patient/appointment-request'>Doctor Appointment</a>
  <br>
  <a href='/patient/appointment'>View Appointment</a>
  <br>
  <a href='/patient/order-medicine'>Order Medicines</a>
  <br>
  <a href='/patient/orders'>View Orders</a>
</div>
